.habitcard-container {
    width: 20rem;
    max-height: 15rem;
    height: 12rem;
    color: #fff;
    background-color: #000000;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 0.2rem 1rem;
    margin: 2rem;
    
}

.edit-form {
    border: 2px solid black;
    margin: 5rem 0;
    color: black;
}

.habit-heading {
    cursor: pointer;
}